/* SECTION-1 */
.section-1{
    background-image: url(../images/header-image.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    height: 900px;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
.navigation-ul{
    display: flex;
}
.navigation-li{
    margin-right: 30px;
}
.navigation-a{
    color: #D9F0FF;
    font-size: 12px;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
}
.header p{
    color: #D9F0FF;
    font-family: 'dancingskript', sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 89px;
}
.header-title h1{
    color: #fff;
    font-size: 100px;
    font-weight: 300;
    font-family: lato;
}
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    
}
.header-text p{
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    opacity: 70%;
    color: #fff;
}
.header-btn{
    display: flex;
    justify-content: center;
    align-content: center;
}
.header-btn button{
    font-family: lato;
    font-weight: bold;
    font-size: 14px;
    background-color: #325DFF;
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-top: 55px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 12px;
    letter-spacing: 2px;
}
    /* SECTION-2 */
.section-2-div{
    display: flex;
}
.section-2-div-left{
    width: 50%;
    padding: 90px 86px 101px 82px;
}
.section-2-div-right{
    width: 50%;           
}
.section-2-div-right img{
    width: 100%;
}
.div-left-h{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lato;
    font-size: 50px;
    font-weight: 300;
    max-width: 468px;
    width: 100%;
    margin-bottom: 24px;
}
.div-left-p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    font-size: 16px;
    opacity: 50%;
    max-width: 457px;
    width: 100%;
    margin-bottom: 64px;
}
.div-left-btn{
    display: flex;
    justify-content: left;
    align-items: center;
}
.div-left-btn button{
    font-family: lato;
    font-weight: bold;
    font-size: 14px;
    background-color: #325DFF;
    border: none;
    border-radius: 30px;
    padding: 20px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 12px;
    letter-spacing: 2px;
}
    /* SECTION-3 */
.section-3{
    background-color: #FAFAFA;
    padding: 77px 55px 105px 55px;
}
/* აქ შეკითხვა მაქვს */
.section-3-center{
    text-align: center;
}
.section-3 h2{
    font-family: lato;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 17px;
}
.section-3 p{
    font-family: poppins;
    font-size: 16px;
    opacity: 65%;
}
/* SECTION-3 BOXES */
.section-3-div-box-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
    flex-wrap: wrap;

}
.section-3-little-box{
    height: 372px;
    max-width: 369px;
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 65px 71px 55px 71px;
}
.section-3-little-box-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 263px;
    max-width: 251px;
    width: 100%;
    padding: 0 13px;
}
.section-3-little-box:nth-child(n+4){
    margin-top: 20px;
}
.section-3-little-box-icon{
    background-color: #325DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    max-width: 88px;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 27px;
}
/* .section-3-little-box-icon img{
    height: 80%;
    width: 80%;
} */
.section-3-little-box h5{
    margin-bottom: 25px;
    font-size: 18px;
    font-family: lato;
    font-weight: bold;
}
.section-3-little-box p{
    margin-bottom: 12px;
    font-size: 16px;
    font-family: poppins;
    font-weight: 300;
    line-height: 25px;
}
/* .section-3-div-box-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
} */
    /* SECTION-4 */
.section-4{
    background-image: url(../images/section-4-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 601px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;
}
/* აქაც იგივე შეკითხვა
მესამე სექციაზე პარაგრაფს ადებს
მეოთხე სექციის სტილებს */
/* .section-4 h4, p{
    color: #fff;
} */
.section-4 h4{
    font-size: 35px;
    font-family: lato;
    font-weight: 300;
    color: #fff;
    line-height: 42px;
}
.section-4 p{
    font-family: poppins;
    font-size: 16px;
    color: #fff;
    line-height: 25px;
}
.section-4-bottom-p{
    margin-bottom: 20px;
}
    /* SECTION-5 */
.section-5{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}
.section-5-h-4{
    margin-top: 85px;
    font-size: 35px;
    font-family: lato;
    font-weight: 300;
    line-height: 42px;
}
.section-5-p-1{
    font-family: poppins;
    font-size: 16px;
    line-height: 25px;
    opacity: 65%;
}
.section-5-p-2{
    font-family: poppins;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 95px;
    opacity: 65%;
}
.section-5-div{
    display: flex;
    width: 100%;
}
.section-5-left{
    width: 50%;
    background-color: #fff;
    padding: 100px 86px;
}
.section-5-right{
    width: 50%;
}
.section-5-right img{
    width: 100%;
    height: 100%;
}
.section-5-h-4-1{
    font-size: 50px;
    font-family: lato;
    font-weight: 300;
    line-height: 60px;
}
.section-5-p-3{
    font-size: 16px;
    font-family: poppins;
    line-height: 25px;
    margin-top: 35px;
    opacity: 50%;
}
.section-5-p-4{
    font-size: 16px;
    font-family: poppins;
    line-height: 25px;
    opacity: 50%;
    margin-bottom: 63px;
}
footer{
    height: 140px;
    background-color: #325DFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: poppins;
    opacity: 52%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}
footer{
    height: 110px;
    position: relative;
}
.social{
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: 50px;
    padding-top: 4px;
    position: absolute;
    bottom: 0px;
    right: 14px;
    align-items: center;
}
.social a{
    margin-right: 15px;
}
.div-bar{
    display: none;
}
.icon-coffee:before{
    font-family: icomoon;
    color: #fff;
    font-size: 35px;
}
.icon-umbrella:before{
    font-family: icomoon2;
    color: #fff;
    font-size: 35px;
}
.flex-wor-rev{
    flex-direction: row-reverse;
}
.section-3little-box-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}